@{
    ViewBag.Title = "TicketReservation";
    Layout = "~/Views/Shared/_MyLayout1.cshtml";
}

<div class="wrap-login100">
    <form class="login100-form validate-form"action="/home/add">
        <span class="login100-form-logo">
            <i class="zmdi zmdi-bus"></i>
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
            Reserve
        </span>

        <div class="wrap-input100 validate-input" data-validate="Enter Name">
            <input class="input100" type="text" name="Name" placeholder="Name">

        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter Naitional ID">
            <input class="input100" type="text" name="IDPassenger" placeholder="National ID">

        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Reserve
            </button>
        </div>


    </form>
</div>

